@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');
body{
    max-width: 1150px;
    margin: 0 auto;
    font-family: Montserrat;
    font-size: 16px;
}
header {
    display: flex;
    justify-content: space-between;
    li{
        list-style: none;
        display: inline-block;
    }
    .reseaux{
        margin-top: 13px;
    }
}
.black{
    color: black;
}
a{
    color: #9f9f9f;
    text-decoration: none;
    padding: 20px;
    &:hover{
        color: black;
    }
}
.image{
    width: 100%;
}
main{
    display: flex;
    justify-content: space-around;
}
.articles{
    width: 80%;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
    margin: 20px;
    article{
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 60px 0;
        .date{
            color: rgba(0, 0, 0, 0.6);
        }
        img{
            height: 203px;
            width: 100%;
            object-fit: cover;
            margin-right: 20px;
        }
        h2{
            font-family: cardo;
        }
    }
}
.categories{
    margin-top: 30px;
    .categorie{
        ul{
            padding: 0;
            li{
                list-style: none;
            }
        }
        &:nth-of-type(1){
            border-bottom: 2px solid #9f9f9f;
        }
    }
}
@media screen and (max-width: 1150px) {
    main{
        display: block;
    }
    .articles{
        margin: 0 auto;
    }
    .categories{
        display: flex;
        justify-content: center;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0.26%, rgba(0, 0, 0, 0) 9.39%);
        .categorie{
            padding: 10px 60px;
        }
        .categorie:first-of-type{
            border-right: 2px solid gray;
            border-bottom: 0;
        }
    }
}
@media screen and (max-width: 920px) {
    header{
        display: block;
        nav{
            display: flex;
            justify-content: center;
            ul{
                padding: 0;
            }
            a{
                padding: 20px 10px;
            }
        }
        .reseaux{
            display: flex;
            justify-content: center;
        }
    }
    .articles{
        margin: 0;
        width: 95%;
        margin: 0 auto;
            article{
            display: block;
            position: relative;
            h2{
                position: absolute;
                top: 0;
                left: 0;
                margin: 0;
                font-size: 1.3em;
            }
            .date{
                position: absolute;
                top: 5px;
                right: 0;
                margin: 0;
            }
            img{
                margin-right: 0;
                margin-top: 45px;
            }
        }
    }
    .categories{
        display: block;
        padding-top: 50px;
        .categorie{
            padding: 0;
            text-align: center;
            a{
                display: block;
                padding: 10px 0;
            }
            &:nth-of-type(1){
                border-bottom: 2px solid gray;
                border-right: 0;
            }
        }
    }
}