@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');
body{
    margin: 0 auto;
    font-family: Montserrat;
    font-size: 16px;
}
header {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    li{
        list-style: none;
        display: inline-block;
    }
    .reseaux{
        margin-top: 0.9em;
    }
}
.black{
    color: black;
}
a{
    display: inline-block;
    color: #9f9f9f;
    text-decoration: none;
    padding: 1.25em;
    &:hover{
        color: black;
    }
}
.image{
    width: 100%;
    height: 150px;
    object-fit: cover;
}
main{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.articles{
    width: 80%;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
    margin: 1.25em;
    article{
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 3.75em 0;
        .date{
            color: rgba(0, 0, 0, 0.6);
        }
        img{
            width: 100%;
            object-fit: cover;
            margin-right: 1.25em;
        }
        h2{
            font-family: cardo;
        }
    }
}
aside{
    margin-top: 1.8em;
    width: 400px;
    .categorie{
        ul{
            padding: 0;
            li{
                list-style: none;
            }
        }
        &:nth-of-type(1){
            border-bottom: 2px solid #9f9f9f;
        }
    }
}
@media screen and (max-width: 1150px) {
    main{
        display: block;
    }
    .articles{
        margin: 0 auto;
    }
    aside{
        width: 100%;
        display: flex;
        justify-content: center;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0.26%, rgba(0, 0, 0, 0) 9.39%);
        .categorie{
            padding: 0.7em 3.75em;
        }
        .categorie:first-of-type{
            border-right: 2px solid gray;
            border-bottom: 0;
        }
    }
}
@media screen and (max-width: 920px) {
    header{
        display: block;
        nav{
            display: flex;
            justify-content: center;
            ul{
                padding: 0;
            }
        }
        .reseaux{
            display: flex;
            justify-content: center;
        }
    }
    .articles{
        margin: 0;
        width: 95%;
        margin: 0 auto;
            article{
            display: block;
            position: relative;
            h2{
                position: absolute;
                top: 0;
                left: 0;
                margin: 0;
                font-size: 1.3em;
            }
            .date{
                position: absolute;
                top: 0.3em;
                right: 0;
                margin: 0;
            }
            img{
                margin-right: 0;
                margin-top: 2.9em;
            }
        }
    }
    aside{
        display: block;
        padding-top: 3.3em;
        .categorie{
            padding: 0;
            text-align: center;
            a{
                display: block;
                padding: 0.7em 0;
            }
            &:nth-of-type(1){
                border-bottom: 2px solid gray;
                border-right: 0;
            }
        }
    }
}
@media screen and (max-width: 420px) {
    p, a{
        font-size: 14px;
    }
}