@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}
body{
    background-image: url("./background-7.png");
}
header{
    max-width: 1150px;
    margin: 0 auto;
    background-color: white;
    .head{
        display: flex;
        justify-content: space-around;
        margin: 30px 0 10px 0;
        h3{
            margin: 25px 0;
            font-weight: bolder;
        }
        li {
            margin: 10px 0;
            list-style: none;
            display: inline-block;
            a{
                padding: 15px;
                display: inline-block;
                color: #737373;
                text-decoration: none;
                font-weight: bolder;
            }
        }
        .connection{
            margin: 10px 0;
            a{
                display: inline-block;
                padding: 15px;
                text-decoration: none;
                font-weight: bolder;
                &:first-of-type{
                    color: #96BB7C;
                }
                &:nth-of-type(2){
                    color: white;
                    background-color: #96BB7C;
                    border-radius: 5px;
                }
            }
        }
    }
    .vert{
        width: 91%;
        height: 100%;
        background-color: #EFF8ED;
        position: relative;
        padding-left: 100px;
        padding-top: 60px;
        padding-bottom: 100px;
        .blanc{
            width: 40%;
            height: 70%;
            background-color: white;
            border-radius: 0 0 0 100px;
            position: absolute;
            top: 0;
            right: 0;
        }
        h5{
            color: #96BB7C;
        }
        h1{
            font-weight: bolder;
            margin: 30px 0;
            font-size: 58px;
        }
        h4{
            font-size: 20px;
        }
        a{
            display: inline-block;
            margin-top: 15px;
            margin-right: 5px;
            padding: 10px 20px;
            border-radius: 5px;
            text-decoration: none;
            &:nth-of-type(1){
                background-color: #96BB7C;
                color: white;
            }
            &:nth-of-type(2){
                color: #96BB7C;
                border: 2px solid #96BB7C;
            }
        }
        img{
            position: absolute;
            top: -35px;
            right: 0;
            width: 40%;
        }
    }
    .ex{
        position: absolute;
        top: 560px;
        width: 1150px;
        display: flex;
        justify-content: space-around;
        background-color: rgba($color: #000000, $alpha: 0);
        .section{
            background-color: white;
            width: 250px;
            height: 220px;
            padding: 30px;
            box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
            h3{
                margin: 15px 0 15px 0;
                &::after{
                    content: "";
                    width: 50px;
                    height: 2px;
                    display: block;
                    margin-top: 20px;
                    background-color: #E74040;
                }
            }
        }
    }
}
main{
    max-width: 1150px;
    margin: 0 auto;
    background-color: white;
    .AP{
        padding-top: 300px;
        display: flex;
        justify-content: space-around;
        .APTexte{
            width: 50%;
            margin: 150px 100px;
            h2{
                font-size: 40px;
                margin-bottom: 30px;
                position: relative;
                &::before{
                    content: "";
                    display: block;
                    position: absolute;
                    top: -30px;
                    background: #E74040;
                    width: 94px;
                    height: 7px;

                }
            }
            p{
                font-size: 14px;
            }
            a{
                display: inline-block;
                margin-top: 30px;
                color: #96BB7C;
                text-decoration: none;
            }
        }
        .video{
            width: 35%;
            height: 300px;
            margin-right: 50px;
            margin-top: 70px;
        }
    }
    .VILA{
        margin-top: 250px;
        margin-left: 100px;
        h6{
            color: #96BB7C;
        }
        h2{
            margin: 20px 0;
            font-size: 40px;
            color: #252B42;
        }
        p{
            color: #737373;
        }
        .achat{
            width: 95%;
            display: flex;
            justify-content: space-around;
            margin-top: 50px;
            .article{
                width: 25%;
                .articletxt{
                    width: 82%;
                    margin: 0 auto;
                    *{
                        margin-top: 15px;
                    }
                    a{
                        color: #96BB7C;
                        text-decoration: none;
                    }
                    img{
                        margin-left: 10px;
                    }
                    h5{
                        font-size: 16px;
                        color: #252B42;
                    }
                    p{
                        &:first-of-type{
                        font-size: 14px;
                        color: #737373;}
                        &:nth-of-type(2n){
                            color: orange;
                        }
                    }
                    button{
                        border-radius: 45px;
                        border: 1px solid #96BB7C;
                        h6{
                            margin-top: 0;
                            padding: 15px;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
    .OPC{
        margin-top: 250px;
        margin-left: 100px;
        h6{
            color: #96BB7C;
        }
        h2{
            margin: 20px 0;
            font-size: 40px;
            color: #252B42;
        }
        p{
            width: 50%;
            color: #737373;
        }
        .personnes{
            display: flex;
            justify-content: space-around;
            margin-top: 90px;
            padding-bottom: 100px;
            .personne{
                width: 35%;
                text-align: center;
                p{
                    width: 100%;
                    margin: 30px 0;
                    font-size: 14px;
                }
                img{
                    &:first-of-type{
                        border-radius: 50%;
                    } 
                }
                h5{
                    margin: 30px 0;
                    font-size: 16px
                }
                h6{
                    color: #737373;
                    font-size: 14px;
                }
            }
            
        }
    }
    .OET{
        padding: 100px;
        background-color: #FFF2F3;
        .OETText{
            width: 50%;
            margin: 0 auto;
            text-align: center;
            h6{
                color: #96BB7C;
                font-size: 14px;
            }
            h3{
                margin: 20px;
                font-size: 24px;
            }
            p{
                font-size: 14px;
                color: #737373;
            }
        }
        form{
            margin: 50px auto;
            width: 60%;
            font-size: 0;
            border: 1px solid #E6E6E6;
            border-radius: 5px;
            input{
                
                &:first-of-type{
                    border-radius: 4px 0 0 4px;
                    border: 0;
                    height: 40px;
                    width: 80%;
                    padding: 5px;
                    &::placeholder{
                        font-size: 14px;
                        color: #737373;
                    }
                }
                &:last-of-type{
                    color: white;
                    background-color: #96BB7C;
                    border: 0;
                    border-radius: 0 4px 4px 0;
                    padding: 16px 20px;
                }
            }
        }
    }
}
footer{
    max-width: 1150px;
    margin: 0 auto;
    background-color: white;
    display: flex;
    justify-content: space-around;
    .navF{
        width: 15%;
        margin-top: 40px;
        h5{
            font-size: 16px;
            color: #252B42;
            padding-bottom: 20px;
        }
        li{
            list-style: none;
        }
        a{
            padding: 7px 0;
            display: inline-block;
            color: #737373;
            text-decoration: none;
        }
    }
    .derNav{
        width: 25%;
        h6{
            color: #737373;
            font-size: 14px;
        }
    }
    .TA{
        text-align: center;
        display: flex;
        justify-content: center;
        padding: 7px 0;
    }
}
.flex2{
    display: flex;
    justify-content: start;
}