@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}

header {
  max-width: 1150px;
  margin: 0 auto;
  background-color: white;
}
header .head {
  display: flex;
  justify-content: space-around;
  margin: 30px 0 10px 0;
}
header .head h3 {
  margin: 25px 0;
  font-weight: bolder;
}
header .head li {
  margin: 10px 0;
  list-style: none;
  display: inline-block;
}
header .head li a {
  padding: 15px;
  display: inline-block;
  color: #737373;
  text-decoration: none;
  font-weight: bolder;
}
header .head .connection {
  margin: 10px 0;
}
header .head .connection a {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  font-weight: bolder;
}
header .head .connection a:first-of-type {
  color: #96BB7C;
}
header .head .connection a:nth-of-type(2) {
  color: white;
  background-color: #96BB7C;
  border-radius: 5px;
}
header .vert {
  width: 91%;
  height: 100%;
  background-color: #EFF8ED;
  position: relative;
  padding-left: 100px;
  padding-top: 60px;
  padding-bottom: 100px;
}
header .vert .blanc {
  width: 40%;
  height: 70%;
  background-color: white;
  border-radius: 0 0 0 100px;
  position: absolute;
  top: 0;
  right: 0;
}
header .vert h5 {
  color: #96BB7C;
}
header .vert h1 {
  font-weight: bolder;
  margin: 30px 0;
  font-size: 58px;
}
header .vert h4 {
  font-size: 20px;
}
header .vert a {
  display: inline-block;
  margin-top: 15px;
  margin-right: 5px;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}
header .vert a:nth-of-type(1) {
  background-color: #96BB7C;
  color: white;
}
header .vert a:nth-of-type(2) {
  color: #96BB7C;
  border: 2px solid #96BB7C;
}
header .vert img {
  position: absolute;
  top: -35px;
  right: 0;
  width: 40%;
}
header .ex {
  position: absolute;
  top: 560px;
  width: 1150px;
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0);
}
header .ex .section {
  background-color: white;
  width: 250px;
  height: 220px;
  padding: 30px;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}
header .ex .section h3 {
  margin: 15px 0 15px 0;
}
header .ex .section h3::after {
  content: "";
  width: 50px;
  height: 2px;
  display: block;
  margin-top: 20px;
  background-color: #E74040;
}

main {
  max-width: 1150px;
  margin: 0 auto;
  background-color: white;
}
main .AP {
  padding-top: 300px;
  display: flex;
  justify-content: space-around;
}
main .AP .APTexte {
  width: 50%;
  margin: 150px 100px;
}
main .AP .APTexte h2 {
  font-size: 40px;
  margin-bottom: 30px;
  position: relative;
}
main .AP .APTexte h2::before {
  content: "";
  display: block;
  position: absolute;
  top: -30px;
  background: #E74040;
  width: 94px;
  height: 7px;
}
main .AP .APTexte p {
  font-size: 14px;
}
main .AP .APTexte a {
  display: inline-block;
  margin-top: 30px;
  color: #96BB7C;
  text-decoration: none;
}
main .AP .video {
  width: 35%;
  height: 300px;
  margin-right: 50px;
  margin-top: 70px;
}
main .VILA {
  margin-top: 250px;
  margin-left: 100px;
}
main .VILA h6 {
  color: #96BB7C;
}
main .VILA h2 {
  margin: 20px 0;
  font-size: 40px;
  color: #252B42;
}
main .VILA p {
  color: #737373;
}
main .VILA .achat {
  width: 95%;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
main .VILA .achat .article {
  width: 25%;
}
main .VILA .achat .article .articletxt {
  width: 82%;
  margin: 0 auto;
}
main .VILA .achat .article .articletxt * {
  margin-top: 15px;
}
main .VILA .achat .article .articletxt a {
  color: #96BB7C;
  text-decoration: none;
}
main .VILA .achat .article .articletxt img {
  margin-left: 10px;
}
main .VILA .achat .article .articletxt h5 {
  font-size: 16px;
  color: #252B42;
}
main .VILA .achat .article .articletxt p:first-of-type {
  font-size: 14px;
  color: #737373;
}
main .VILA .achat .article .articletxt p:nth-of-type(2n) {
  color: orange;
}
main .VILA .achat .article .articletxt button {
  border-radius: 45px;
  border: 1px solid #96BB7C;
}
main .VILA .achat .article .articletxt button h6 {
  margin-top: 0;
  padding: 15px;
  font-size: 14px;
}
main .OPC {
  margin-top: 250px;
  margin-left: 100px;
}
main .OPC h6 {
  color: #96BB7C;
}
main .OPC h2 {
  margin: 20px 0;
  font-size: 40px;
  color: #252B42;
}
main .OPC p {
  width: 50%;
  color: #737373;
}
main .OPC .personnes {
  display: flex;
  justify-content: space-around;
  margin-top: 90px;
  padding-bottom: 100px;
}
main .OPC .personnes .personne {
  width: 35%;
  text-align: center;
}
main .OPC .personnes .personne p {
  width: 100%;
  margin: 30px 0;
  font-size: 14px;
}
main .OPC .personnes .personne img:first-of-type {
  border-radius: 50%;
}
main .OPC .personnes .personne h5 {
  margin: 30px 0;
  font-size: 16px;
}
main .OPC .personnes .personne h6 {
  color: #737373;
  font-size: 14px;
}
main .OET {
  padding: 100px;
  background-color: #FFF2F3;
}
main .OET .OETText {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
main .OET .OETText h6 {
  color: #96BB7C;
  font-size: 14px;
}
main .OET .OETText h3 {
  margin: 20px;
  font-size: 24px;
}
main .OET .OETText p {
  font-size: 14px;
  color: #737373;
}
main .OET form {
  margin: 50px auto;
  width: 60%;
  font-size: 0;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
}
main .OET form input:first-of-type {
  border-radius: 4px 0 0 4px;
  border: 0;
  height: 40px;
  width: 80%;
  padding: 5px;
}
main .OET form input:first-of-type::placeholder {
  font-size: 14px;
  color: #737373;
}
main .OET form input:last-of-type {
  color: white;
  background-color: #96BB7C;
  border: 0;
  border-radius: 0 4px 4px 0;
  padding: 16px 20px;
}

footer .body {
  max-width: 1150px;
  margin: 0 auto;
  background-color: white;
  display: flex;
  justify-content: space-around;
}
footer .body .navF {
  width: 15%;
  margin-top: 40px;
}
footer .body .navF h5 {
  font-size: 16px;
  color: #252B42;
  padding-bottom: 20px;
}
footer .body .navF li {
  list-style: none;
}
footer .body .navF a {
  padding: 7px 0;
  display: inline-block;
  color: #737373;
  text-decoration: none;
}
footer .body .derNav {
  width: 25%;
}
footer .body .derNav h6 {
  color: #737373;
  font-size: 14px;
}
footer .body .TA {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 7px 0;
}
footer .foot {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
  background-color: #FAFAFA;
}
footer .foot h6 {
  width: 400px;
}
footer .foot .resaux {
  width: 10%;
  display: flex;
  justify-content: space-between;
}
footer .foot .resaux img {
  width: 24px;
}

.flex2 {
  display: flex;
  justify-content: start;
}

/*# sourceMappingURL=maquette2.css.map */
